@import "variable.styl"

body, html
  line-height: 1
  font-family: ' SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-PingFangserif, 'Droid Sans Fallback'
  user-select: none // 禁止用户选择
  -webkit-tap-highlight-color: transparent
  background-color: $color-background
  color: $color-text